In [3]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle
import os
import yaml
from yaml.loader import SafeLoader

import docx
from docx import Document

In [16]:
with open('../config/params.yaml') as f:
    params = yaml.load(f, Loader=SafeLoader)

In [17]:
# PARAMETERS

path_AMT_V2_storytelling_hiphop = params['processed_data']['processed_AMT_V2_storytelling_hiphop_csv']
random_value = params['base']['random_state']

In [18]:
df_AMT = pd.read_csv(f'../{path_AMT_V2_storytelling_hiphop}')

In [19]:
df_AMT.head()

   song_id   score|1   score|2   score|3   score|4  eval_score storytelling
0      104  5.250000  4.704545  4.431818  5.363636    5.250000          UNK
1      116  4.948718  5.025641  4.794872  5.102564    4.948718           No
2      119  5.307692  5.051282  4.692308  5.128205    5.307692          UNK
3      120  5.575000  5.475000  3.700000  5.700000    5.575000          Yes
4      122  5.309524  5.095238  4.738095  4.952381    5.309524          UNK

In [20]:
echantillon_aveugle = shuffle(df_AMT.groupby('storytelling', 
                                             group_keys=False)
                              .apply(lambda x: x.sample(10, 
                                                        random_state = random_value
                                                       )
                                    ), 
                              random_state= random_value
                             )

In [21]:
echantillon_aveugle

    song_id   score|1   score|2   score|3   score|4  eval_score storytelling
61      540  5.125000  4.600000  5.125000  4.650000    5.125000          UNK
40      349  4.421053  4.394737  5.315789  4.236842    4.421053           No
32       32  5.585366  4.926829  4.512195  5.268293    5.585366          Yes
26      286  4.861111  5.083333  4.500000  5.138889    4.861111           No
52       41  5.377778  5.244444  3.977778  5.488889    5.377778          UNK
22      268  5.432432  5.405405  4.945946  5.324324    5.432432          UNK
45      367  5.769231  5.410256  4.615385  5.461538    5.769231          Yes
77       82  5.725000  5.600000  3.925000  5.525000    5.725000          Yes
19      245  5.837838  5.378378  4.378378  5.459459    5.837838          Yes
67      654  5.697674  5.465116  4.348837  5.697674    5.697674          Yes
64      571  5.225806  4.903226  4.806452  5.000000    5.225806          UNK
20      250  5.717949  5.769231  4.410256  5.435897    5.717949          Yes
55      457  5.454545  5.340909  4.000000  5.386364    5.454545          UNK
25      281  4.897436  4.820513  5.410256  4.794872    4.897436           No
29      307  5.512195  5.243902  4.536585  5.463415    5.512195          UNK
8       151  5.657143  5.600000  5.085714  5.514286    5.657143          Yes
14      219  5.395349  5.604651  4.069767  5.302326    5.395349          UNK
37       34  4.729730  4.891892  5.378378  4.567568    4.729730           No
47      372  4.853659  4.853659  5.073171  4.829268    4.853659           No
63      559  5.742857  5.571429  4.571429  5.685714    5.742857          Yes
62      541  5.628571  4.942857  4.428571  5.485714    5.628571          Yes
15       22  5.604651  5.418605  4.813953  5.534884    5.604651          Yes
41      353  4.891892  4.864865  4.675676  4.675676    4.891892           No
46      370  4.857143  5.047619  4.071429  4.785714    4.857143           No
12      208  4.837838  5.270270  4.243243  4.837838    4.837838           No
53      435  4.780488  5.000000  4.731707  4.536585    4.780488           No
59      488  5.100000  5.100000  4.133333  5.300000    5.100000          UNK
2       119  5.307692  5.051282  4.692308  5.128205    5.307692          UNK
57      466  4.897436  5.025641  4.769231  4.615385    4.897436           No
68      672  5.200000  4.622222  4.755556  5.066667    5.200000          UNK

In [44]:
document = Document()
document.add_heading('HIP_HOP - 1STD frome Q1 means', 0)
for idx, row in echantillon_aveugle.iterrows():
  p = document.add_paragraph()
  p.add_run(f"Song_ID: { row['song_id'] }\n\n").bold =True
  p.add_run(df_hiphop_bd.iloc[echantillon_aveugle.iloc[idx,0]].raw_lyrics)

document.add_page_break()
table_docx = document.add_table(rows=1, cols=2)
hdr_cells = table_docx.rows[0].cells
hdr_cells[0].text = 'Song_ID'
hdr_cells[1].text = 'Storytelling (yes | no | unk)'
for idx, row in echantillon_aveugle.iterrows():
    row_cells = table_docx.add_row().cells
    row_cells[0].text = str(row['song_id'])
    row_cells[1].text = ""
# Adding style to a table
table_docx.style = 'Medium Grid 3 Accent 1'


document.save('echantillon_AMT_HipHop_1STD.docx')

NameError: name 'df_hiphop_bd' is not defined