In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path_AMT_V2 = "../data/external/AMT_V2"

In [4]:
files = [os.path.join(path_AMT_V2,i) for i in os.listdir(path_AMT_V2) if os.path.isfile(os.path.join(path_AMT_V2,i))]
# prints all files
print(files)

['../data/external/AMT_V2\\.gitignore', '../data/external/AMT_V2\\.gitkeep', '../data/external/AMT_V2\\Projet musique - Sondage AMT - V2 - 2022_05_11_8 juin 2022_09.04.csv', '../data/external/AMT_V2\\Projet musique - Sondage AMT - V2 - 2022_05_11_8 juin 2022_09.04.csv.dvc', '../data/external/AMT_V2\\Projet musique - Sondage AMT - V2 - 2022_05_11_8 juin 2022_09.04.xlsx']

In [5]:
for file in files:
    if file.endswith('.xlsx'):
        df_AMT = pd.read_excel(file, )

C:\Users\aoutd\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [6]:
df_AMT.head()

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,P45_3,P45_4,P195_1,P195_2,P195_3,P195_4,Q332,MID,Excluded,random
0,Date de commencement,Date de fin,Type de réponse,Adresse IP,Progrès,Durée (en secondes),Terminé,Date enregistrée,Identifiant de la réponse,Nom du destinataire,...,Please indicate to what extent you agree with ...,Please indicate to what extent you agree with ...,Please indicate to what extent you agree with ...,Please indicate to what extent you agree with ...,Please indicate to what extent you agree with ...,Please indicate to what extent you agree with ...,Please verify that the ID in the field below i...,MID,Excluded,random
1,2022-05-11 12:43:26,2022-05-11 12:45:00,0.0,74.14.177.37,100.0,94.0,1.0,2022-05-11 12:45:01.377000,R_VPh6VdyIcpNPWSJ,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DANILOTEST,"A2EGP04PEJIIEE,A2ZHBK2MDL2L51,A2NAKIXS3DVGAA,A...",NaN
2,2022-05-11 12:45:25,2022-05-11 12:46:42,0.0,74.14.177.37,100.0,76.0,1.0,2022-05-11 12:46:42.533000,R_3fwRt3cNZoyPmC4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,DANILOTEST,DANILOTEST,"A2EGP04PEJIIEE,A2ZHBK2MDL2L51,A2NAKIXS3DVGAA,A...",39313
3,2022-05-11 12:52:47,2022-05-11 12:52:57,0.0,73.137.67.180,100.0,9.0,1.0,2022-05-11 12:52:57.763000,R_3NPsd4oCOHS3Dd1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARPBDM5QZ4XQC,"A2EGP04PEJIIEE,A2ZHBK2MDL2L51,A2NAKIXS3DVGAA,A...",NaN
4,2022-05-11 12:53:19,2022-05-11 12:53:45,0.0,174.99.117.195,100.0,25.0,1.0,2022-05-11 12:53:45.562000,R_3IySE8wXrA7FGc9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A1P3I7YCWXF9YG,"A2EGP04PEJIIEE,A2ZHBK2MDL2L51,A2NAKIXS3DVGAA,A...",NaN

In [7]:
df_AMT.drop(axis=0, index=0,inplace=True)

In [8]:
df_AMT.reset_index(drop=True, inplace=True)

In [9]:
df = df_AMT.dropna(subset=['random']).copy()
df.reset_index(drop=True, inplace=True)

In [10]:
# Hiphop ID fixed
df_renamed = df.rename(columns = {'H3_1':'H3_1','H3_2':'H3_2','H3_3':'H3_3','H3_4':'H3_4','H8_1':'H7_1','H8_2':'H7_2','H8_3':'H7_3','H8_4':'H7_4','H24_1':'H22_1','H24_2':'H22_2','H24_3':'H22_3','H24_4':'H22_4','H34_1':'H32_1','H34_2':'H32_2','H34_3':'H32_3','H34_4':'H32_4','H36_1':'H34_1','H36_2':'H34_2','H36_3':'H34_3','H36_4':'H34_4','H38_1':'H36_1','H38_2':'H36_2','H38_3':'H36_3','H38_4':'H36_4','H41_1':'H39_1','H41_2':'H39_2','H41_3':'H39_3','H41_4':'H39_4','H43_1':'H41_1','H43_2':'H41_2','H43_3':'H41_3','H43_4':'H41_4','H46_1':'H44_1','H46_2':'H44_2','H46_3':'H44_3','H46_4':'H44_4','H52_1':'H50_1','H52_2':'H50_2','H52_3':'H50_3','H52_4':'H50_4','H66_1':'H64_1','H66_2':'H64_2','H66_3':'H64_3','H66_4':'H64_4','H71_1':'H69_1','H71_2':'H69_2','H71_3':'H69_3','H71_4':'H69_4','H72_1':'H70_1','H72_2':'H70_2','H72_3':'H70_3','H72_4':'H70_4','H84_1':'H82_1','H84_2':'H82_2','H84_3':'H82_3','H84_4':'H82_4','H89_1':'H87_1','H89_2':'H87_2','H89_3':'H87_3','H89_4':'H87_4','H107_1':'H104_1','H107_2':'H104_2','H107_3':'H104_3','H107_4':'H104_4','H119_1':'H116_1','H119_2':'H116_2','H119_3':'H116_3','H119_4':'H116_4','H120_1':'H119_1','H120_2':'H119_2','H120_3':'H119_3','H120_4':'H119_4','H123_1':'H120_1','H123_2':'H120_2','H123_3':'H120_3','H123_4':'H120_4','H125_1':'H122_1','H125_2':'H122_2','H125_3':'H122_3','H125_4':'H122_4','H137_1':'H134_1','H137_2':'H134_2','H137_3':'H134_3','H137_4':'H134_4','H143_1':'H143_1','H143_2':'H143_2','H143_3':'H143_3','H143_4':'H143_4','H152_1':'H149_1','H152_2':'H149_2','H152_3':'H149_3','H152_4':'H149_4','H154_1':'H151_1','H154_2':'H151_2','H154_3':'H151_3','H154_4':'H151_4','H169_1':'H166_1','H169_2':'H166_2','H169_3':'H166_3','H169_4':'H166_4','H190_1':'H187_1','H190_2':'H187_2','H190_3':'H187_3','H190_4':'H187_4','H200_1':'H197_1','H200_2':'H197_2','H200_3':'H197_3','H200_4':'H197_4','H211_1':'H208_1','H211_2':'H208_2','H211_3':'H208_3','H211_4':'H208_4','H215_1':'H212_1','H215_2':'H212_2','H215_3':'H212_3','H215_4':'H212_4','H223_1':'H219_1','H223_2':'H219_2','H223_3':'H219_3','H223_4':'H219_4','H236_1':'H231_1','H236_2':'H231_2','H236_3':'H231_3','H236_4':'H231_4','H238_1':'H233_1','H238_2':'H233_2','H238_3':'H233_3','H238_4':'H233_4','H242_1':'H237_1','H242_2':'H237_2','H242_3':'H237_3','H242_4':'H237_4','H250_1':'H245_1','H250_2':'H245_2','H250_3':'H245_3','H250_4':'H245_4','H255_1':'H250_1','H255_2':'H250_2','H255_3':'H250_3','H255_4':'H250_4','H257_1':'H252_1','H257_2':'H252_2','H257_3':'H252_3','H257_4':'H252_4','H273_1':'H268_1','H273_2':'H268_2','H273_3':'H268_3','H273_4':'H268_4','H279_1':'H274_1','H279_2':'H274_2','H279_3':'H274_3','H279_4':'H274_4','H282_1':'H277_1','H282_2':'H277_2','H282_3':'H277_3','H282_4':'H277_4','H286_1':'H281_1','H286_2':'H281_2','H286_3':'H281_3','H286_4':'H281_4','H292_1':'H286_1','H292_2':'H286_2','H292_3':'H286_3','H292_4':'H286_4','H300_1':'H294_1','H300_2':'H294_2','H300_3':'H294_3','H300_4':'H294_4','H313_1':'H307_1','H313_2':'H307_2','H313_3':'H307_3','H313_4':'H307_4','H317_1':'H311_1','H317_2':'H311_2','H317_3':'H311_3','H317_4':'H311_4','H323_1':'H317_1','H323_2':'H317_2','H323_3':'H317_3','H323_4':'H317_4','H329_1':'H323_1','H329_2':'H323_2','H329_3':'H323_3','H329_4':'H323_4','H329_1.1':'H329_1','H329_2.1':'H329_2','H329_3.1':'H329_3','H329_4.1':'H329_4','H332_1':'H326_1','H332_2':'H326_2','H332_3':'H326_3','H332_4':'H326_4','H333_1':'H327_1','H333_2':'H327_2','H333_3':'H327_3','H333_4':'H327_4','H348_1':'H342_1','H348_2':'H342_2','H348_3':'H342_3','H348_4':'H342_4','H353_1':'H347_1','H353_2':'H347_2','H353_3':'H347_3','H353_4':'H347_4','H355_1':'H349_1','H355_2':'H349_2','H355_3':'H349_3','H355_4':'H349_4','H359_1':'H353_1','H359_2':'H353_2','H359_3':'H353_3','H359_4':'H353_4','H360_1':'H354_1','H360_2':'H354_2','H360_3':'H354_3','H360_4':'H354_4','H363_1':'H357_1','H363_2':'H357_2','H363_3':'H357_3','H363_4':'H357_4','H370_1':'H372_1','H370_2':'H372_2','H370_3':'H372_3','H370_4':'H372_4','H373_1':'H367_1','H373_2':'H367_2','H373_3':'H367_3','H373_4':'H367_4','H376_1':'H370_1','H376_2':'H370_2','H376_3':'H370_3','H376_4':'H370_4','H381_1':'H375_1','H381_2':'H375_2','H381_3':'H375_3','H381_4':'H375_4','H387_1':'H381_1','H387_2':'H381_2','H387_3':'H381_3','H387_4':'H381_4','H400_1':'H394_1','H400_2':'H394_2','H400_3':'H394_3','H400_4':'H394_4','H442_1':'H435_1','H442_2':'H435_2','H442_3':'H435_3','H442_4':'H435_4','H464_1':'H457_1','H464_2':'H457_2','H464_3':'H457_3','H464_4':'H457_4','H469_1':'H462_1','H469_2':'H462_2','H469_3':'H462_3','H469_4':'H462_4','H473_1':'H466_1','H473_2':'H466_2','H473_3':'H466_3','H473_4':'H466_4','H481_1':'H474_1','H481_2':'H474_2','H481_3':'H474_3','H481_4':'H474_4','H495_1':'H488_1','H495_2':'H488_2','H495_3':'H488_3','H495_4':'H488_4','H548_1':'H540_1','H548_2':'H540_2','H548_3':'H540_3','H548_4':'H540_4','H549_1':'H541_1','H549_2':'H541_2','H549_3':'H541_3','H549_4':'H541_4','H567_1':'H559_1','H567_2':'H559_2','H567_3':'H559_3','H567_4':'H559_4','H579_1':'H571_1','H579_2':'H571_2','H579_3':'H571_3','H579_4':'H571_4','H615_1':'H606_1','H615_2':'H606_2','H615_3':'H606_3','H615_4':'H606_4','H627_1':'H999_1','H627_2':'H999_2','H627_3':'H999_3','H627_4':'H999_4','H663_1':'H654_1','H663_2':'H654_2','H663_3':'H654_3','H663_4':'H654_4','H681_1':'H672_1','H681_2':'H672_2','H681_3':'H672_3','H681_4':'H672_4','H689_1':'H680_1','H689_2':'H680_2','H689_3':'H680_3','H689_4':'H680_4','H701_1':'H691_1','H701_2':'H691_2','H701_3':'H691_3','H701_4':'H691_4','H739_1':'H728_1','H739_2':'H728_2','H739_3':'H728_3','H739_4':'H728_4','H746_1':'H735_1','H746_2':'H735_2','H746_3':'H735_3','H746_4':'H735_4','H761_1':'H749_1','H761_2':'H749_2','H761_3':'H749_3','H761_4':'H749_4'})

In [ ]:
# TODO : fix Pop ID
pass

In [13]:
df_light = df_renamed[df_renamed['MID'].astype(str).str.startswith('A')]

In [14]:
df_light.shape

(1575, 671)

In [33]:
def table_score_creation(df, score = [1]):
    df_transpose = df.T
    df_transpose = df_transpose.reset_index().rename_axis(None, axis=1)
    df_transpose.iloc[:,1:] = df_transpose.iloc[:,1:].astype(float)
    df_transpose['score'] = df_transpose.iloc[:,1:].mean(axis = 1, skipna=True)
    df_transpose[['song_id', 'Q_id']] = df_transpose['index'].str.split('_', 1, expand=True)
    df_transpose.drop(columns=['index'], axis=1,inplace=True, )
    df_analyse = df_transpose[['song_id', 'Q_id','score']]
    table = pd.pivot_table(df_analyse, index='song_id',columns='Q_id', aggfunc=np.sum, dropna=True)
    table.reset_index(inplace=True)
    table['eval_score'] = table.iloc[:,score].mean(axis = 1, skipna=True)
    table.columns = table.columns.map('|'.join).str.strip('|')
    table['song_id'] = table['song_id'].str[1:].astype(int)
    # eval storytelling
    conditions = [
    (table['eval_score'] <= table['eval_score'].mean()-table['eval_score'].std()),
    (table['eval_score'] >= table['eval_score'].mean()+table['eval_score'].std()),
    (table['eval_score'] > table['eval_score'].mean()-table['eval_score'].std()) & (table['eval_score'] < table['eval_score'].mean()+table['eval_score'].std())
    ]

    values = ['No', 'Yes', 'UNK']

    table['storytelling'] = np.select(conditions, values)
    
    return table

In [34]:
whole_dataframes = {}
whole_dataframes["hiphop"] = df_light.loc[:, df_light.columns.str.startswith('H')]
whole_dataframes["pop"] = df_light.loc[:, df_light.columns.str.startswith('P')]

In [35]:
table_score_creation(whole_dataframes["hiphop"])

    song_id   score|1   score|2   score|3   score|4  eval_score storytelling
0       104  5.250000  4.704545  4.431818  5.363636    5.250000          UNK
1       116  4.948718  5.025641  4.794872  5.102564    4.948718           No
2       119  5.307692  5.051282  4.692308  5.128205    5.307692          UNK
3       120  5.575000  5.475000  3.700000  5.700000    5.575000          Yes
4       122  5.309524  5.095238  4.738095  4.952381    5.309524          UNK
..      ...       ...       ...       ...       ...         ...          ...
75      735  5.157895  5.236842  4.578947  5.184211    5.157895          UNK
76      749  5.305556  5.222222  5.027778  4.944444    5.305556          UNK
77       82  5.725000  5.600000  3.925000  5.525000    5.725000          Yes
78       87  5.400000  5.200000  4.375000  5.375000    5.400000          UNK
79      999  5.571429  5.400000  4.314286  5.314286    5.571429          Yes

[80 rows x 7 columns]